.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
  }
  
  .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
  } 

  nav {
    display: flex;
    gap: 20px;
    background: black;
    padding: 20px;
  }

  nav a {
    color: white;
    text-decoration: none;
    transition: 0.6s;
  }

  nav a:hover, nav button:hover {
    color: purple
  }

  nav button {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    transition: 0.6s;
    margin-bottom: 10px;
  }

  a.active {
    background: mediumorchid;
    padding: 5px 10px;
  }

  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
    }

    .settings {
      display: flex;
      justify-content: center;
      height: 100vh
  }
  
  .block {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 80px;
  }
  
  .dashboard {
    height: 100vh;
  }